language: python
python:
  - "3.8"

myvenv:
  system_site_packages: true

env:
  - DJANGO_VERSION=2.2.4

install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install -U pytest

addons:
  sonarcloud:
    organization: "csc473"

script:
  - sonar-scanner -X
