language: python
python:
  - "3.8"

myvenv:
  system_site_packages: true

env:
  - DJANGO_VERSION=2.2.4

install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install -U pytest
  - pip install django-crispy-forms
  - pip install coverage
  - pip install pytest-django


addons:
  sonarcloud:
    organization: "csc473"
    token:
      secure: "PCRNXfjjfKb8hl9il0xYegZNNqWvxcBykyH2y4zo3IyatAPUG0edwNOVWjnA0qJ00Cntrf58YdKo8WTKYwhhFzrXarzZfndprWmylq/6Qg43NLXFfddycW2emBAuHCwKSJ1n5E/HUeSpFpVs04gBwZXrKGS9F9cbOQsIg4w0pIn8ksM+4wSPbkStcT450BqHlzeW4jqMslL/3sfqNxRtLtSdhrByKMEDAwurI8nJsfJsxazvFTntcDZW7GgNHwxC4tCdO3Whc6KCYHloPwQEhGp5IjYEkOjI2FJ9lnOP7AWEQrqtE/lHQ99FHwNhZFzTCa3A3FrYvU0QuT0ajTBHVogEO1CpogfeoKRbpJ/2dzs4eah7KnPviXqLLPMVhHzU3hPJfA5IOaXWZPZCt36EpNCCN2I0qIaw4Mo1TYpqfL7yKlUnoQ7PXDm/9uqC5TDVU83gm2gXNVnrnjA30N9nWL7UYzHyQefO8IbQh1v9D81XTdPAhgtKtMVPKPMxOCxbJxNhhzLzCFSMM48Zf0K11lWJr7EOhnv0LJsuIW4yZI+2KuWUI1BhdZFhWmTDvnIlwLKOLCtMSdkCiPru5xW/107VLWoy1PrxeQT7wjBM59cI5+jl5/JtDPCTt+ivebaKZJr1UVUq4iN2YLXYX/2fOZCOMiazvNFM6p+c/BdDmsg="

script:
  - sonar-scanner
  - coverage run calendar_monthly_view/__init__.py
  - pytest --ds=mysite/settings
