body {
  font-family: "Lato", sans-serif;
}
input a {
    display: block;
    background-color: #dddddd;
  }

/* side navbar background */
.sidenav {
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: lightpink;
  overflow-x: hidden;
  padding: 8px 0;
  height: 100%;
}

/* side navbar text */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
}

/* side navbar text hover */
.sidenav a:hover {
  color:rgb(56, 2, 35);
}


.button {
    background-color: lightpink;
    border:rgb(117, 80, 112);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16
    px;}
}

/* CSS for calendar */
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: rgb(117, 80, 112);
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color:white;
  background-color: lightpink; /* change to transparent if a transparent background is wanted */
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

/* Add task CSS */
.addtask_form {
  margin: auto;
}

.addtask_form input, .addtask_form select, .addtask_form textarea {
  border-radius: 5px;
  border: 1px solid rgb(117, 80, 112);
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}


/* new addition */

/* to change the background of the app change the color */
.background {
  background-image: repeating-linear-gradient( pink 10%, aliceblue 20%, white);
}

/* button to return to the login page from the register page */
.logo-button {
  border-radius: 50%; 
  border: rgb(117, 80, 112); 
  color: white; 
  background-color: lightpink;
  width: 400px;
  height: 70px;
  background-position:top;
}

/* only for login, register page buttons */
.button3{
  border: rgb(117, 80, 112); 
  color: white; 
  background-color: lightpink;
}

/* for almost all titles used in different pages */
.display-1, .display-2, .display-3, .display-4, .title
{
  color:  rgb(117, 80, 112);
}

.text-center{
  background:rgb(117, 80, 112);
  color: white;
}

/* to change the notification message, go to home.html */