{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Django Calendar App</title>

  <h1 class="title">{% block title %}Django Calendar App{% endblock %}</h1>
  <hr>

<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
  <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }} "> Next Month </a>
</div>

  {% block script %}
  {{calendar}}
  {% endblock %}

{% endblock %} 