{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'static/styles.css' %}">
  <title>Django Calendar App</title>

  <h1 class="title">{% block title %}Django Calendar App{% endblock %}</h1>
  <hr>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% block script %}
  {{calendar}}
  {% endblock %}

{% endblock %} 